<div class="container">
    <div class="row" style="margin-top: 50px;">
        <div class="col-md-4">
            <img src={{img_url}}>
        </div>
        <div class="col-md-8">
            <div style="font-size:xx-large; font-weight: bold;">
            {{name}}
            </div>
            <div style="font-style: italic; font-size: large;">
            Manufactured By: {{vendor}}
            </div><br>
            <div style="font-size:x-large;"><b><em><span class="material-symbols-outlined">
                currency_rupee
                </span>{{price}}</em></b>
                </div>
        </div>
    </div>
</div>