
<h3 class="mb-4" style="text-align:center; margin-top: 5%;">Customer Sign Up</h3>
<div class="row">
    
    <form class="col-sm-4" #form="ngForm" style="margin-left:auto; margin-right: auto; margin-top: 1%;">
        
        
        <div class="mb-3">
          <label for="name" class="form-label"><span class="material-symbols-outlined">mood</span>Full Name</label>
          <input type="text" class="form-control" id="name" name="name" required ngModel #name="ngModel">
          <span *ngIf=" name.touched && name.invalid" style="color:red;">Name is mandatory!</span>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label" ><span class="material-symbols-outlined">mail</span>Email Id</label>
          <input type="email" class="form-control" id="email" name="email" required email ngModel #email="ngModel">
          <span *ngIf="email.touched && email.invalid" style="color:red;">Email Id is mandatory!</span>
        </div>
        <div class="mb-3">
            <label for="mobile" class="form-label" ><span class="material-symbols-outlined">call</span>Phone No.</label>
            <input type="tel" class="form-control" id="mobile" name="mobile" required ngModel #mobile="ngModel">
            <span *ngIf="mobile.touched && mobile.invalid" style="color:red;">Phone No. is mandatory!</span>
          </div>
          <div class="mb-3">
            <label for="address" class="form-label" ><span class="material-symbols-outlined">navigation</span>Full Address</label>
            <input type="tel" class="form-control" id="address" name="address" required ngModel #address="ngModel">
            <span *ngIf="address.touched && address.invalid" style="color:red;">Address is mandatory!</span>
          </div>
          <div class="mb-3">
            <label for="pincode" class="form-label" ><span class="material-symbols-outlined">pin_drop</span>Pin code</label>
            <input type="number" class="form-control" id="pincode" name="pincode" required ngModel #pincode="ngModel">
            <span *ngIf="pincode.touched && pincode.invalid" style="color:red;">Pin code is mandatory!</span>
          </div>
        <div class="text-center">
            <button [disabled]="form.invalid" type="submit" class="btn btn-warning btn-lg"><span class="material-symbols-outlined">contactless</span>Sign Up</button>
        
        
        </div>
        
      </form>
</div>