<div class="row">
    
    <form class="col-sm-4" #form="ngForm" style="margin-left:auto; margin-right: auto; margin-top:5%;">
        <div class="text-center">
            <h3 class="mb-3">Customer Login</h3>
        </div>
        
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label"><span class="material-symbols-outlined">alternate_email</span>Email Id</label>
          <input type="email" required #em="ngModel" name="email" class="form-control" id="exampleInputEmail1" email ngModel>
          <div *ngIf="em.untouched || em.valid" class="form-text">We'll never share your email with anyone else.</div>
          <span *ngIf="em.touched && em.invalid" style="color:red;">Invalid Email</span>   
        </div>

        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label"><span class="material-symbols-outlined">key</span>Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" name="password" minlength="4" required #pw="ngModel" ngModel>
          <div *ngIf="pw.untouched || pw.valid" class="form-text">Your password is Case Sensitive.</div>
          <span *ngIf="pw.touched && pw.invalid" style="color:red;">Invalid password</span>
        </div>
        <div class="text-center">
            
          <button [disabled]="form.invalid" type="submit" class="btn btn-success btn-lg"><span class="material-symbols-outlined">login</span>Login</button>
        
            <br><br>New Here? Let's <a style="color: blue; font-weight:bold;" routerLink="/signup">Sign Up!</a>
            <br><br><br><a routerLink="/employeeLogin"><button type="button" class="btn btn-warning btn-lg"><span class="material-symbols-outlined">sensor_occupied</span>Employee Login</button></a>
        </div>
      </form>
</div>